{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-6">
            <div id="task-container">
                <div id="form-wrapper">
                    <form id="form">
                        <div class="flex-wrapper">
                            <div style="flex: 6">
                                <input id="title" class="form-control" type="text" name="title"
                                       placeholder="Type Todo...">
                            </div>
                            <div style="flex: 1">
                                <input id="submit" class="btn btn-md btn-secondary" type="submit" value="Add">
                            </div>
                        </div>
                    </form>
                </div>

                <div id="list-wrapper">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var base_url = "https://tanjil95.pythonanywhere.com"; //Live url
    //var base_url = "http://127.0.0.1:8000"; //Prod url
</script>
{% endblock content %}